html, body {
    font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
}

h1 {
    text-align: center;
}

.fullscreen {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #111;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}
.fullscreen.success {
    background: #161;
}
.fullscreen.fail {
    background: #611;
}
.display {
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    font-size: 500%;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    text-align: center;
}
button {
    background: #fea;
    border-radius: 10px;
    padding: 4px;
    font-size: 200%;
    width: 2em;
    height: 2em;
    margin: 4px;
    border: none;
}
