html, body {
    font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
}
body {
    user-select: none;
}

h1 {
    text-align: center;
}

.fullscreen {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #000;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}
.fullscreen a {
    color: #99ccdc;
}
.fullscreen.success {
    background: #161;
}
.fullscreen.fail {
    background: #911;
}
.display {
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    font-size: 320%;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons {
    text-align: center;
}
@import url('//fonts.googleapis.com/css?family=Roboto+Black');
button {
    background: #efe17d;
    border-radius: 10px;
    padding: 4px 15px;
    font-size: 32px;
    margin: 4px 8px;
    border: none;
    font-family: "Roboto Black", sans-serif;
    font-weight: 900;
}
button:active {
    background: #a08d00;
}

footer {
    xjalign-self: flex-end;
    margin: auto auto 0 auto;
}
